<!DOCTYPE html>
<html>
  <head>
    <title>Tracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/top_menu" %>

    <% if flash["alert"].present? %>
      <div class="flash-alert"><%= flash["alert"] %></div>
    <% elsif flash["notice"].present? %>
      <div class="flash-notice"><%= flash["notice"] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
